@font-face {
    font-family: 'brandberry-font';
    src: url('../fonts/brandberry/brandberry-font.eot');
    src: url('../fonts/brandberry/brandberry-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandberry/brandberry-font.woff') format('woff'),
         url('../fonts/brandberry/brandberry-font.svg') format('svg'),
         url('../fonts/brandberry/brandberry-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'brandberry-font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-development:before {
    content: "\ea3a";
}
.icon-strategy:before {
    content: "\e9ea";
}
.icon-design:before {
    content: "\e8f7";
}
.icon-optimization:before {
    content: "\e83e";
}

@font-face {
    font-family: 'appetiteregular';
    src: url('../fonts/appetite/appetite_contrast-webfont.eot');
    src: url('../fonts/appetite/appetite_contrast-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/appetite/appetite_contrast-webfont.woff2') format('woff2'),
         url('../fonts/appetite/appetite_contrast-webfont.woff') format('woff'),
         url('../fonts/appetite/appetite_contrast-webfont.svg') format('svg'),
         url('../fonts/appetite/appetite_contrast-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

// Breakpoints

@mixin bp($point) {
    @if $point == xs {
        @content;
    }
    @else if $point == xs-sm {
        @media (max-width: 767px)  { @content ; }
    }
    @else if $point == xs-md {
        @media (max-width: 991px)  { @content ; }
    }
    @else if $point == xs-lg {
        @media (max-width: 1199px)  { @content ; }
    }
    @else if $point == sm {
        @media (min-width: 768px) { @content ; }
    }
    @else if $point == sm-md {
        @media (min-width: 768px) and (max-width: 991px)  { @content ; }
    }
    @else if $point == sm-lg {
        @media (min-width: 768px) and (max-width: 1199px)  { @content ; }
    }
    @else if $point == md {
        @media (min-width: 992px) { @content ; }
    }
    @else if $point == md-lg {
        @media (min-width: 992px) and (max-width: 1199px)  { @content ; }
    }
    @else if $point == lg {
        @media (min-width: 1200px) { @content ; }
    }
    @else if $point == xl {
        @media (min-width: 1400px) { @content ; }
    }
    @else if $point == xxl {
        @media (min-width: 1600px) { @content ; }
    }
}

@mixin animate($animation) {
    -webkit-animation:          $animation;
    -moz-animation:             $animation;
    -o-animation:               $animation;
    animation:                  $animation;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform:          translateY(-20px);
    -ms-transform:              translateY(-20px);
    transform:                  translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform:          translateY(0);
    -ms-transform:              translateY(0);
    transform:                  translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name:       fadeInDown;
  animation-name:               fadeInDown;
}

@mixin animation-delay($delay) {
    -webkit-animation-delay:    $delay;
    -moz-animation-delay:       $delay;
    -o-animation-delay:         $delay;
    animation-delay:            $delay;
}

@mixin transform($transition) {
    -webkit-transition:         $transition;
    -moz-transition:            $transition;
    transition:                 $transition;
}

@mixin shadow($shadow) {
    -webkit-box-shadow:         $shadow;
    -moz-box-shadow:            $shadow;
    -o-box-shadow:              $shadow;
    box-shadow:                 $shadow;
}

// Helper variables and classes

$bordercolor:                   #E7E7E8;

$darkgray:                      #161d20;
$halfdark:                      #5A5A64;
$gray:                          #B6B6BB;
$lightgray:                     #f6f7f8;

$textcolor:                     #898992;

$brandberry:                    #E22171;

$narrative:                     #F75B5B;
$notis:                         #0f8fe9;
$qred:                          #66BB6A;
$reve:                          #FA2B93;
$starty:                        #0f9ae9;
$kattis:                        #F45425;
$baraspara:                     #70B13D;

$serif:                         'Droid serif', georgia, serif;

$corner-padding:                40px;
$grid-width:                    1140px;

.narrative-color {
    background: $narrative;
}

.notis-color {
    background: $notis;
}

.qred-color {
    background: $qred;
}

.reve-color {
    background: $reve;
}

.starty-color {
    background: $starty;
}

.kattis-color {
    background: $kattis;
}

.baraspara-color {
    background: $baraspara;
}

.appetite {
    font-family: 'appetiteregular';
}

// Base

body.light {

    #logoWrapper #logoImage > a {
        background: url('http://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/5648ecd6e4b0e1362b3642f2/1447619798684/logodark.png') top left no-repeat;
        background-size: contain;

        img {
            opacity: 0 !important;
        }
    }

    #mainNavigation a {
        color: $darkgray;
    }

    &.regular-sub-page {

        .banner-thumbnail-wrapper {
            padding: 80px 0 55px;

            .color-overlay {
                background: #f6f7f8;
            }

            .desc-wrapper {
                p {
                    color: $halfdark;

                    strong {
                        color: $darkgray;
                    }
                }
            }

        }
    }
}

#folderNav {
    display: none;
    
    &+#content {
        width: 100% !important;
    }
}

.banner-thumbnail-wrapper .color-overlay {
    background: url('http://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/5647dcb6e4b0d4e8f15d681d/1447550134039/toprightshadow.png') top left no-repeat;
}

.regular-sub-page {

    .banner-thumbnail-wrapper .color-overlay {
        background: url('http://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/5648eaf7e4b0e7b6bff462f4/1447619319751/k.jpg') top left no-repeat;
        background-size: cover;
    }
}

.index-page {

    #preFooter {
        display: none !important;
    }
}

.project-specifics {
    background: #fff;
    margin-top: -187px;
    border-bottom: 1px solid $bordercolor;
    display: flex;
    align-items: center;
    position: relative;
    height: 90px;
    z-index: 99;

    div {
        text-align: center;
        padding: 20px 0;
        border-right: 1px solid $bordercolor;
        flex: 1;

        > img {
            width: auto;
            max-height: 50px;
            display: inline-block;
            margin: -1px 0 -7px;
            padding: 0;
        }

        > h4 {
            margin-bottom: 12px;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
        }

        &:last-of-type {
            border: none;
        }
    }
}

.case-study {

    .desc-wrapper {
        margin-bottom: 45px;
        margin-top: -40px;
        
        p:last-of-type {
            display: none;
        }
    }

    .color-overlay {
        opacity: 0.93;
    }
}

.case-nav {
    width: 100%;
    position: relative;
    display: flex;

    .case-link {
        flex: 1;
        background: $lightgray;
        border-radius: 4px;
        padding: 25px 35px;
        box-sizing: border-box;
        margin-right: 10px;
        font-size: 25px;
        font-weight: 700;
        transition: all .1s ease-out;

        > i {
            float: left;
            font-size: 40px;
            margin-right: 30px;
            margin-top: 5px;
            transition: all .1s ease-out;
        }

        > span {
            text-transform: uppercase;
            margin-left: 20px;
            display: block;
            font-size: 16px;
            font-weight: 300;
            width: 100%;
            transition: all .1s ease-out;
        }
        
        &.prev {
            margin-right: 10px;
        }

        &.next {
            margin-left: 10px;
            text-align: right;

            > i {
                float: right;
                margin-left: 30px;
                margin-right: 0;
            }
        }

        &:hover {
            background-color: $brandberry;
            color: #fff;

            i, span {
                color: #fff;
            }

            
        }

        &.narrative-color:hover {
            background-color: $narrative;
        }

        &.notis-color:hover {
            background-color: $notis;
        }

        &.qred-color:hover {
            background-color: $qred;
        }

        &.narrative-color:hover {
            background-color: $narrative;
        }

        &.reve-color:hover {
            background-color: $reve;
        }

        &.starty-color:hover {
            background-color: $starty;
        }

        &.kattis-color:hover {
            background-color: $kattis;
        }

        &.baraspara-color:hover {
            background-color: $baraspara;
        }

        &.none {

            &:hover {
                background-color: $lightgray;
            }
        }
    }
}

// Page jumbotron color overlays

.narrative-page {

    .color-overlay {
        background: $narrative;
    }
}

.notis-page {

    .color-overlay {
        background: $notis;
    }
}

.qred-page {

    .color-overlay {
        background: $qred;
    }
}

.reve-page {

    .color-overlay {
        background: $reve;
    }
}

.starty-page {

    .color-overlay {
        background: $starty;
    }
}

.kattis-page {

    .color-overlay {
        background: $kattis;
    }
}

.baraspara-page {

    .color-overlay {
        background: $baraspara;
    }
}


// Clients

.clients-page #page {
    max-width: inherit;
    padding: 0;
}

.clients {

    .item {
        min-height: 300px;
        background: #fff;
        float: left;
        width: 100%;
        @include animate(fadeInDown .3s ease-out backwards);
        @include shadow(0 0 1px darken($gray, 10%));

        &:hover {

            .logo {
                -webkit-filter: grayscale(0%);
            }
        }

        &:nth-child(1) { @include animation-delay(0.6s) }
        &:nth-child(2) { @include animation-delay(0.9s) }
        &:nth-child(3) { @include animation-delay(1.2s) }
        &:nth-child(4) { @include animation-delay(1.5s) }
        &:nth-child(5) { @include animation-delay(1.8s) }
        &:nth-child(6) { @include animation-delay(2.1s) }
        &:nth-child(7) { @include animation-delay(2.4s) }
        &:nth-child(8) { @include animation-delay(2.7s) }
        &:nth-child(9) { @include animation-delay(3s) }
        &:nth-child(10) { @include animation-delay(3.3s) }
        &:nth-child(11) { @include animation-delay(3.6s) }
        &:nth-child(12) { @include animation-delay(3.9s) }
        &:nth-child(13) { @include animation-delay(4.2s) }
        &:nth-child(14) { @include animation-delay(4.5s) }
        &:nth-child(15) { @include animation-delay(4.8s) }
        &:nth-child(16) { @include animation-delay(5.1s) }
        &:nth-child(17) { @include animation-delay(5.4s) }
        &:nth-child(18) { @include animation-delay(5.7s) }
        &:nth-child(19) { @include animation-delay(6s) }
        &:nth-child(20) { @include animation-delay(6.3s) }
    }

    @include bp(md) {
        .item {
            width: 50%;
        }
    }

    @include bp(lg) {
        .item {
            width: 33.33333%;
        }
    }

    @include bp(xl) {
        .item {
            width: 25%;
        }
    }

    @include bp(xxl){
        .item {
            width: 20%;
        }
    }

    .logo {
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 300px;
        float: left;
        background-size: 70%;
        -webkit-filter: grayscale(100%);
        @include transform(scale(0.8));

        &.stimorol {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b9388e4b06caaaa8cce40/1447793549927/');
        }

        &.banani {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b9298e4b0e573be941172/1447793306206/');
        }

        &.fishermans {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b9300e4b01ad97de894da/1447793409000/');
        }

        &.hm {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b933ee4b08059fa26e936/1447793471698/');
        }

        &.hp {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b93bfe4b049f67297f280/1447793600199/');
        }

        &.idg {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b93e6e4b0a240098f31f1/1447793640263/');
        }

        &.magine {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b9426e4b0459b2b81ef6f/1447793704669/');
        }

        &.nackademin {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b943ae4b0459b2b81f07c/1447793722903/');
        }

        &.oboy {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b946ee4b0a01007d2c4ba/1447793774787/');
        }

        &.qpad {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b948ce4b0db833ebd6dd8/1447793804746/');
        }

        &.rebtel {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b94c0e4b0db833ebd7079/1447793856557/');
        }

        &.sandrew {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b94e2e4b05eb5f402ace7/1447793892450/');
        }

        &.syoss {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b9500e4b03bf69760028d/1447793921500/');
        }

        &.telia {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b9528e4b0db833ebd75f3/1447793962160/');
        }

        &.travellink {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b9553e4b03bf6976006d8/1447794003886/');
        }

        &.ur {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b9577e4b00507be325766/1447794039728/');
        }

        &.wella {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b95bde4b0bc06bda0042b/1447794110488/');
        }

        &.n24 {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b95d1e4b01ad97de8bbae/1447794129594/');
        }

        &.volvo {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b95f4e4b01ad97de8bd38/1447794165239/');
        }

        &.marginalen {
            background-image: url('https://static1.squarespace.com/static/56478a9ce4b0217374387a06/t/564b964be4b0d94c7bec3dfe/1447794251775/');
        }
    }
}

.about-page {

    .team-list {
        display: flex;
        flex-wrap: wrap;
        
        .team-member {
            width: 30%;
            float: left;
            padding: 30px;
            box-sizing: border-box;
            background: #f6f7f8;
            margin: 0 1.5% 30px;
            transition: .2s all ease-out;
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            border-radius: 3px;
            text-align: center;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                border-radius: 3px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                transition: opacity .2s ease-in-out;
                top: 0;
                left: 0;
                z-index: -1;
            }

            &:hover {
                background: #fff;
                transform: scale(1.04);
                box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

                &:after {
                    opacity: 1;
                }
            }

            h3, p {
                text-align: center;
            }

            h3 {

                span {
                    display: block;
                    font-size: 14px;
                    text-transform: none;
                    color: #999;
                    font-weight: 300;
                    margin-top: 6px;
                    font-style: italic;
                    letter-spacing: 1px;
                }
            }

            p {
                min-height: 100px;
            }

            ul {
                margin: 15px 0 0;
                padding: 0;
                display: flex;
                justify-content: center;

                li {
                    list-style-type: none;
                    float: left;

                    a {
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        font-size: 22px;
                        border-radius: 4px;
                        transition: all .1s ease-out;

                        &:hover {
                            background: #219BCC;
                            color: #fff;
                        }
                    }
                }
            }

            .btn {
                margin-top: 18px;
                display: inline-block;
            }
        }
    }








    .grid-container {
        width: 100%;
        max-width: $grid-width;
        background: #fff;
        margin: -60px auto 0;
        position: relative;
        color: #3e3947;
    }

    .headline {
        background: #fff;
        padding: 50px 0;

        .container {
            width: 100%;
            max-width: $grid-width;
            margin: 0 auto;
            text-align: center;

            > h1 {
                font-size: 50px;
                margin-bottom: 18px;
                font-weight: 700;
                line-height: 50px;
                color: $darkgray;
            }

            > p {
                font-family: $serif;
                font-style: italic;
                color: $textcolor;
            }
        }
    }

    .page-services {

        .grid-container {
            max-width: 1600px !important;
            background: none;
            margin: 0 auto;
        }
    }

    .services {

        @include bp(lg) {
            width: 1256px;
            margin-left: -150px;
        }

        & + headline {
            margin-top: 40px;
        }

        .row {
            display: flex;

            > div {
                background: #fff;
                text-align: center;
                padding: 0;
                box-shadow: 0 0 1px darken($gray, 10%);
                transition: .2s ease-out;

                &:hover {
                    background: #e4edef;

                    ul li {

                    }

                    .headline {
                        background: #219BCC;
                        
                        i {
                            color: #125671;
                        }

                        h2 {
                            color: #fff;
                        }
                    }
                }

                .headline {
                    transition: .2s ease-out;

                    > i {
                        font-size: 54px;
                        margin: 20px 0;
                        display: inline-block;
                    }

                    h2 {
                        font-size: 24px;
                        font-weight: bold;
                        transition: .2s ease-out;
                    }
                }

                > ul {
                    text-align: left;
                    border-top: 1px solid #F0F8FA;
                    padding: 20px 30px;

                    li {
                        font-family: $serif;
                        font-style: italic;
                        margin: 10px 0;
                        padding-left: 44px;
                        color: #737f82;
                        position: relative;

                        &:before {
                            background: #C1CCD1;
                            width: 22px;
                            height: 2px;
                            position: absolute;
                            top: 9px;
                            left: 0;
                            content: '';

                        }
                    }
                }
            }
        }
    }

    .approach {

        .row {
            display: flex;
            transition: .1s all ease-out;

            /* &:hover {
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                position: relative;
                transform: scale(1.04);
            } */

            > div {
                background: #fff;
                text-align: center;
                padding: 0;
                display: flex;
                align-content: center;
                box-shadow: 0 0 1px darken($gray, 10%);
                transition: .2s ease-out;

                h3 {
                    font-size: 22px;
                    font-weight: bold;
                    text-transform: none;
                }

                h4.appetite {
                    font-size: 80px;
                    line-height: 0;
                    color: $darkgray;
                    align-self: center;
                }

                &:first-of-type {
                    justify-content: center;
                }
            }

            .content {
                max-width: 84%;
                padding: 50px;
                text-align: left;
            }
        }
    }
}


.white-box-on-top {
    background: #fff;
    width: 84%;
    margin: -180px 8% 0;
    padding: 8%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

hr {
    margin: 10px 0;
}


.list-style {

    li {
        position: relative;
        padding-left: 42px;
        line-height: 32px;

        &:before {
            content: '';
            height: 2px;
            background: #21A9E2;
            width: 22px;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -2px;
        }
    }
}



.time {
    background: #eee;
    padding: 13px 26px;
    border-radius: 30px;

    &.dark {
        background: #42434a;
        color: #fff;
        padding: 13px 26px;
        border-radius: 30px;
    }
}


.table {
    width: 100%;

    > div {
        width: 50%;
        float: left;
        padding: 8px 18px;
        box-sizing: border-box;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.03);
    }

    .end {
        background: #f5f6f7;
        margin-top: 10px;
        border-radius: 4px;
        width: 100%;
    }
}




.btn {
    padding: 10px 22px;
    background: #d4d4da;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    transition: .1s ease-out;

    &:hover {
        background: #219BCC;
    }
}




.pre-footer-inner .btn {
    background: #219BCC;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 16px 27px;

    &:hover {
        background: #fff;
        color: #333333;
    }
}

.contact-page {

    #preFooter {
        display: none !important;
    }
}

